body {
    font-family: 'Noto Sans';
}

.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=b0cffe);
    margin: -2px -6px;
    padding:  2px  6px;
}

.btn {
    box-shadow: 0 2px 4px 0 #00000033, 0 3px 10px 0 #00000030; 
}

.form-control {
    box-shadow: 0 3px 10px 0 #00000030;   
}

.error-message {
    margin-left: 5px;    
    margin-top: -8px;
    font-weight: bold;
    font-size: 90%;
    color: red;
}

.is-invalid {
    border-color: red;
}

.modal-content {
    overflow-y: auto;
}

.card-body {
    background-color: #fffd85;
    border: 1px solid #e6e5b0;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;    
}

.card-text {  
    /** font-family: 'Noto Serif'; **/
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;    
}

.deleteBtn {
    all: unset; 
    cursor: pointer; 
    float: right;       
    display: none;
}

.deleteBtn img {
    background-color: #e5e36a; 
    border: 2px solid #d1ce94; 
    border-radius: 4px;
    padding: 2px;
    width: 28px; 
    height: 28px;
    box-shadow: 0 2px 4px 0 #00000033, 0 3px 10px 0 #00000030;
}
.card-body:hover .deleteBtn {
    display: block;
}


