{% extends "highlight/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}    
    <div>
        {% if messages %}
        <div class="d-flex flex-row mb-3 justify-content-center">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}    
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#noteModal">Add note</button>
            </div>
            <div class="modal fade" id="noteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">New note</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Save"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'add' %}" id="noteForm" method="post">
                                {% csrf_token %}                                    
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {{form|crispy}}
                                <input class="btn btn-dark" id="submitButton" data-note_id="" style="float: right;" type="submit" value="Save and close">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <form action="{% url 'search' %}" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>   
            </div>               
        </div>   
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for note in notes %}
                <div class="col">
                    <div class="card h-100" id="card" data-id="{{note.id}}" style="cursor: pointer;">
                        <div class="card-body">
                            <h5 class="card-title">{{note.title}}</h5>
                            <p class="card-text">{{note.content|linebreaksbr}}</p>                                
                        </div>
                    </div>
                </div>
                {% endfor %}                                                                              
            </div>
        </div>
    </div>
{% endblock %}
