{% extends "highlight/layout.html" %}

{% block body %}

{% load crispy_forms_tags %}

<div class="container py-5">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-4">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <h3>Register</h3>
                {% if messages %}
                <p class="messages">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </p>
                {% endif %}
                {{form|crispy}}
                <input class="btn btn-primary"  type="submit" value="Register"> 
            </form>
        </section>
    </section>
</div>

{% endblock %}
