{% extends "highlight/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}   
    <!-- {% if messages %}
    <div class="d-flex flex-row mb-3 justify-content-center">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %} -->
    
    <div class="container py-5">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                {% if messages %}
                    <div style="text-align: center;">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %} 
                <div class="list-group list-group-flash">
                    <form action="{% url 'change_password' %}" method="get">
                        <button type="submit" class="list-group-item list-group-item-action">Change password</button>
                    </form>
                    <button type="button" class="list-group-item list-group-item-action list-group-item-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete account</button>
                </div>                      
            </section>
        </section>       
        <div class="modal fade" id="deleteAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">                                    
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>                          
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <p>Are you sure that you want to delete your account?</p>                                            
                        <p><b>WARNING: All your notes will be lost. <br>This action cannot be undone.</b></p>
                    </div>
                    <div class="modal-footer">  
                        <a href="{% url 'delete_account' %}" id="deleteAccountConfirmBtn"> 
                            <button type="button" class="btn btn-danger">Yes</button>                                    
                        </a>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>               
    </div>
{% endblock %}