name: Cypress Tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # 1. Set up Python 
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      # 2. Install Python dependencies
      - name: Install Python deps
        run: |
          pip install -r requirements.txt

      # 3. Run Cypress
      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          install-command: npm install 
          build: npm run build
          start: npm start
          wait-on: 'http://localhost:8000'
